.contenedorItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-radius: 5px;    
    max-width: 600px;
    margin: 2rem auto;
    
}

.contenedorItem img {
    width: 50%;
    max-width: 500px;
    margin-bottom: 2rem;
   
    
}